@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Courier, monospace;
}

a{
  text-decoration: none;
  color: black;
  transition: 200ms color ease-in-out;
 list-style: none;
 font-size: 18px;
}

ul {
  list-style: none;
}

.header{
position: sticky;
top: 0;
height: 5vh; /* ! 100vh = 95vh + 5vh (header) */
}

.headerarea{
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-block: 10px;
}

.navlinks,.login ul {
  display: flex;  
}

.navlinks li,.login ul li {
  display: flex;   
  margin-inline: 10px;  
  /* margin-block: 10px; */
  align-items: center;
}
.navlinks li,.login ul li {
  margin-right: 0;
}

.logo {
  height: 50px;
}

img{
  vertical-align: middle;
  height: 100%;
}

.signup {
  background-color: orange;
  padding-block: 5px;
  padding-inline: 8px;  
}

.section-1{
background-image: url(img/cat.png);
}
.section-2{
  background-image: url(img/dog.png);
  }
.section-3{
  background-image: url(img/bird.png);
  } 

  .section{
    height: 95vh;  /* ! 100vh = 95vh + 5vh (header) */  
    width: 100%;
    background-attachment: fixed;   /* ! improtant */  
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
  }


  p{
    font-size: clamp(4rem,15vw + 20% ,10rem) ;
    color: yellow;
   font-weight: 900;
  }

  @media (max-width:700px) {
    .headerarea , .login ul{
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }

   .signup {
      width: 100%;
       }   
  }